atomicwrites==1.3.0
attrs==19.3.0
cached-property==1.5.1
certifi==2018.10.15
chainer==7.0.0
chainercv==0.13.1
chainerrl==0.7.0
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
cupy==7.1.1
cycler==0.10.0
decorator==4.4.1
fastrlock==0.4
filelock==3.0.10
future==0.17.1
gym==0.10.9
idna==2.7
imageio==2.6.1
imageio-ffmpeg==0.3.0
importlib-metadata==1.4.0
kiwisolver==1.1.0
matplotlib==3.1.2
more-itertools==8.1.0
moviepy==1.0.1
numpy==1.18.1
opencv-python==4.1.2.30
pandas==0.25.3
Pillow==7.0.0
pkg-resources==0.0.0
pluggy==0.13.1
proglog==0.1.9
protobuf==3.6.1
py==1.8.1
pyglet==1.3.2
pyparsing==2.4.6
pytest==4.0.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.20.1
scipy==1.1.0
six==1.11.0
tensorboard-chainer==0.4.0
-e git+https://github.com/midl19t3/text-localization-environment@3ac38e595af8efc3ae6d748e30f19ecbbf8aa2e6#egg=text_localization_environment
tqdm==4.41.1
typing-extensions==3.7.4.1
urllib3==1.24.1
zipp==2.0.0